<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Post Comments</title>
    <link rel="stylesheet" href="/comments.css">
</head>

<body>
    <h1>Comments</h1>
    <h2>
        <%= post.title %>
    </h2>
    <p>
        <%= post.body %>
    </p>
    <ul>
        <% postComments.forEach(comment=> { %>
            <li>
                <%= comment.body %>
            </li>
            <% }); %>
    </ul>
    <a href="/">
        <button>Back to Home</button>
    </a>
    <br>
    <a href="/favorites">
        <button>Back to Posts</button>
    </a>
</body>

</html>